.Bradius {
    border-radius: 8px;
}
.logo {
    width: 150px !important;
    height: auto;
}

.MtClass {
    margin-top: 100px;
}

.MbClass {
    margin-bottom: 100px;
}

.bgWhite {
    background: #fff;
}

body {
    background: #eeeeee;
}

/* flags */

.flag {
    background-color: transparent;
    border: none;
}

.flagUl {
    text-decoration: none !important;
    list-style: none !important;
}

.categoryItem {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.link-cat {
    color: black;
    text-decoration: none;
}

.RevisorCol {
    width: 350px;
}

.CircleStatusW {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fb5607;
    content: "";
}

.btnOrange {
    background: linear-gradient(
        352deg,
        rgba(255, 107, 53, 1) 47%,
        rgba(251, 35, 7, 1) 100%
    );
    color: #fff;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.btnMod {
    background: linear-gradient(
        352deg,
        rgba(255, 183, 0, 1) 47%,
        rgba(255, 149, 0, 1) 100%
    );
    color: #fff;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.btnVedi {
    background: linear-gradient(
        176deg,
        rgba(33, 128, 253, 1) 30%,
        rgba(11, 91, 194, 1) 100%
    );
    color: #fff;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.btnAddAnn {
    background: linear-gradient(
        176deg,
        rgba(33, 128, 253, 1) 30%,
        rgba(11, 91, 194, 1) 100%
    );
    color: #fff;
    border-radius: 25px;
}

.btnDel {
    background: linear-gradient(
        352deg,
        rgba(222, 13, 13, 0.927) 47%,
        rgba(251, 35, 7, 1) 100%
    );
    color: #fff;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.catColor {
    color: rgb(251, 35, 7);
}

.bgCategory {
    background: linear-gradient(
        352deg,
        rgba(255, 107, 53, 1) 47%,
        rgb(233, 86, 33) 100%
    );
    border-bottom: 7px solid rgb(28, 92, 176);
}

.bgOrange {
    background: linear-gradient(
        352deg,
        rgba(255, 107, 53, 1) 47%,
        rgba(251, 35, 7, 1) 100%
    );
}

.alertCustom {
    background-color: rgba(255, 107, 53, 1);
    margin-top: 20px;
    padding-left: 20px;
    color: white;
}

.tWhite {
    color: #fff;
}

.tBlue {
    color: rgb(28, 92, 176);
}

.tYellow {
    color: rgba(255, 149, 0, 1);
}

.MbClass_cust {
    margin-bottom: 400px;
}

.stickyCat {
    width: 17vw;
    position: fixed;
}
@media screen and (max-width: 1600px) {
    .stickyCat {
        width: 22vw;
        position: fixed;
    }
}

@media screen and (max-width: 1200px) {
    .stickyCat {
        width: 20vw;
        position: fixed;
    }
}

@media screen and (max-width: 850px) {
    .stickyCat {
        width: 100vw;
        position: relative;
    }
}

.z-ind {
    z-index: 998;
}

.searchLabel {
    border-radius: 25px 0px 0px 25px;
    width: 80%;
    padding: 12px;
    padding-left: 25px;
    margin: 0px !important;
}

.btnSearch {
    background: linear-gradient(
        176deg,
        rgba(33, 128, 253, 1) 30%,
        rgba(11, 91, 194, 1) 100%
    );
    color: #fff;
    font-size: 20px;
    padding: 8px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px 25px 25px 0px;
    margin: 0px !important;
}

.cardComunic {
    box-shadow: 3px 3px 10px #bbbbbb;
}

.cardComunic:hover {
    box-shadow: 5px 5px 10px #888888;
}

.loginLabel {
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid rgb(87, 87, 87);

    padding: 12px;
    padding-left: 25px;
    margin: 5px !important;
}

.iconePlus {
    color: rgb(100, 100, 100);
    font-size: 20px;
}

.msgStyleMit {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    background: #fff;
}

.msgArea {
    background: rgb(228, 228, 228);
}
.bgChatIn {
    background-color: rgba(33, 128, 253, 1);
    border: 2px solid white;
    -webkit-box-shadow: 0px 0px 14px 2px #ffffff;
    box-shadow: 0px 0px 14px 2px #ffffff;
}
.bgChatOut {
    background-color: rgba(62, 216, 24, 0.8);
    border: 2px solid white;
    -webkit-box-shadow: 0px 0px 14px 2px #ffffff;
    box-shadow: 0px 0px 14px 2px #ffffff;
}

.txtGrey {
    color: rgb(255, 254, 254);
}
